body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #c1baa7;
}

.body-container {
  text-align: center;
  background-color:  rgb(249, 245, 245);
  max-width: 1000px;
  margin: auto;
  border: 1px solid black;
  
}

header {
  background-image: url("images/members.jpeg");
  margin: top;
  background-size: 1000px 700px;
  background-position: center;
  height: 550px;
  max-width: 1000px;
  margin: auto;
}

.hamburger{
  display: none;
}

nav {

  height: 50px;
  background: linear-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
  
}

.links {
  display: flex;
  justify-content: end;
  flex-wrap: wrap;
  background: linear-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 0)); 
}


ul {
  list-style: none;
  margin: 0;
}

li {
  margin: 10px 20px;
}

a {
  color: #5d533e;
  text-decoration: none;
}

h1 {
  text-transform: uppercase;
  font-size: 2.5em;
  color: #b1cad4;
  font-weight: 400;
  padding-top: 150px;
  text-align: center;
}

.members {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
margin-top: 100px;
margin-bottom: 50px;


}

h2 {
  margin-top: 0%;
  margin-bottom: 40px;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 3px;
}

table {
  border: 1px solid #ccc;
  border-radius: 3px;
  box-shadow: 4px 2px 8px rgba(0, 0, 0, 1);
  border-collapse:collapse;
}

th, td{
  border-bottom: 1px solid #ccc;
  padding: 10px;
  background-color: white;
}

th{
  background-color: #c1baa7;
}

footer {
  display: flex;
  padding: 40px;
  flex-direction: column;
  align-items: center;  
  justify-content: center;
}

footer ul {
  display: flex;
}

.li3{
  padding: 0 1% 0 0;
}

.li4 {
  display: flex;
  box-shadow: 4px 2px 8px rgba(0, 0, 0, 1);
}


@media screen and (max-width:1199px) {
  .body-container {
    max-width: 637px;
  }


@media screen and (max-width: 767px) {

  .links {
    display: none;
  }

 .hamburger{
  display: flex;
  justify-content: end;
  padding: 16px;
 }

 .hamburger img{
  width: 50px;
 }

}
}