body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(183, 154, 125);
}

.body-container {
  text-align: center;
  background-color: rgb(249, 245, 245);
  max-width: 1000px;
  margin: auto;
  border: 1px solid black;
}

header {
  background-image: url("images/hiking.avif");
  margin: top;
  background-size: 1000px 700px;
  background-position: center;
  height: 550px;
  max-width: 1000px;
  margin: auto;
}

nav {

  height: 50px;
  background: linear-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
  
}

a {
  color: #5d533e;
  text-decoration: none;
}

.links {
  display: flex;
  justify-content: end;
  flex-wrap: wrap;
  background: linear-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
  
}

.li1 {
  display: flex;
 
  border-radius: 16%;
  box-shadow: 4px 2px 8px rgba(0, 0, 0, 1);

}

.li2 {
 display: flex;
  box-shadow: 4px 2px 8px rgba(0, 0, 0, 1);
}



ul {
  list-style: none;
  margin: 0;
}

li {
  margin: 10px 20px;
}

a {
  color: #5d533e;
  text-decoration: none;
}

.hamburger{
  display: none;
}

h1 {
  text-transform: uppercase;
  font-size: 2.5em;
  color: #272f32;
  font-weight: 400;
  padding-top: 150px;
  text-align: center;
}

.arrow-container {
  display: flex;
  justify-content: center;
  margin-top: 240px;
  }
  
  .arrow {
    width: 120px;
    animation: studsa 2s infinite;
  }
  
  
  @keyframes studsa {
    0% {
      transform: translateY(10px);
    }
  
    50% {
      transform: translateY(15px);
    }
  
    100% {
      transform: translateY(10px);
    }
  }

.facilities {
  margin: 50px;
  text-align: center;
  padding: 20px;
}
h2 {
  margin-top: 0%;
  margin-bottom: 40px;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 3px;
}


.facilities-list {
  width: 100%;
  padding-left: 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}
.btn{
  margin: 5px;
  padding: 10px 30px 10px 30px;
  border-radius: 16px;
  border: none;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
  box-shadow: 6px 6px 8px rgba(0, 0, 0, 1);
}


.services {
  padding: 16px;
  margin-top: 20px;
}


.services > p .services > h2{
  margin-bottom: 30px;
  text-align: center;
}

.wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

.services img {
  display: flex;
  height: 200px;
}

.card {
  background-color: #e7e4dd;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
  margin: auto;
  margin-bottom: 20px;
  width: 250px;
  display: flex;
  flex-direction: column;
  transition: transform 0.5s ease;
}

.card h4 {
  align-self: flex-start;
  padding-left: 1rem;
}

.card p {
  background-color: white;
  align-self: flex-start;
  margin: 0px;
  padding: 16px;
}

.card:hover {
  transform: translateY(-2rem);
}

.activities {
  padding: 20px;
  text-align: center;
  margin-top: 40px;

}

.timeline{
  position: relative;
}

.timeline::after {
  content: "";
  position: absolute;
  width: 6px;
  background-color: black;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

.container::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: white;
  border: 4px solid #ff9f55;
  top: 70px;
  border-radius: 50%;
  z-index: 1;
}

.left {
  left: 0;
  display: flex;
  justify-content: flex-end;
}

.right {
  left: 50%;
}

.right::after{
  left: -3.5%;
}

.content {
  padding: 15px 40px;
  position: relative;
  border-radius: 6px;
}

.container {
  position: relative;
  width: 50%;
}

.activities-card a img {
  height: 70px;
  width: 70px;
}


.activities-card {
  background-color: #e7e4dd;
  padding: 50px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.newsLetter{
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
  margin-top: 20px;
}

form {
  border: 1px solid black;
  background-color: white;
  width: 300px;
  padding: 30px;
  border-radius: 16px;
}

form > p {
  text-transform: uppercase;
  font-size: 1.2rem;
  display: block;
}

label {
  display: flex;
  margin-bottom: 5px;
  color: grey;
}

input[ type="email"]{
  width: 98%;
  padding: 2%;
  border: 1px solid grey;
  border-radius: 3%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  
}

.formGroup{
  margin-bottom: 25px;
  padding: 1rem;
}

form > button{
  width: 98%;
  background-color: rgb(68, 206, 68);
  color: white;
  border: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  padding: 10px;
}

footer {
  display: flex;
  padding: 40px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

footer ul {
  display: flex;
}

.li3{
  padding: 0 1% 0 0;
}

.li4 {
  display: flex;
  box-shadow: 4px 2px 8px rgba(0, 0, 0, 1);
}
.boxShadow{
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

@media screen and (max-width:1199px) {
  .body-container {
    max-width: 637px;
  }


@media screen and (max-width: 767px) {
 .hamburger{
  display: flex;
  justify-content: end;
  padding: 16px;
 }

 .hamburger img{
  width: 50px;
 }

 .links{
  display: none;
 }

 .facilities-list {
  flex-direction: column;
   justify-content: center;
 }
button{
  width: 100%;
  font-size: 100%;
}
.card{
  width: 350px;
  font-size: 1.5rem;
}

.newsLetter{
  font-size: 1.5rem;
}

.newsLetter p{
  font-size: 1.5rem;
}

.right {
  left: 50%;
}

.right::after{
  left: -5.5%;
}


}
}